/* Use import to split up your CSS into manageable chunks */
@import url("./reset.css");
/* Files that are only needed to be imported are called partials */
/* These are marked with an underscore: */
@import url("./variables.css");
/* Feel free to add as many of these imports as you need */
html,
body {
  height: 100%;
  font-family: var(--heading-font);
  color: var(--dark-blue);
}
header {
  background-color: var(--dark-blue);
}
.active {
  border-bottom-style: solid;
  border-color: white;
  font-weight: bold;
  padding-bottom: 5px;
}
.navbar {
  display: flex;
  justify-content: space-evenly;
  text-align: justify;
}
.navbar ul {
  padding: 0%;
}
.navbar li {
  display: inline-block;
}
.navbar a {
  margin: 3vw;
  color: white;
  text-decoration: none;
  font-size: 100%;
}
.nav-logo img {
  width: 20vw;
  height: auto;
  background-color: var(--dark-blue);
}
footer {
  background-color: var(--dark-blue);
  height: 40%;
  margin-top: 10%;
  padding: 10%;
  display: grid;
  grid-gap: 5%;
  grid-template-columns: auto auto;
  grid-template-rows: 60% 70%;
  align-items: center;
  align-content: center;
  text-align: center;
}

footer p,
footer a {
  display: inline-block;
  margin: 0%;
  padding-top: 1em;
  margin-bottom: 1em;
  text-decoration: none;
  color: white;
  font-size: 3vh;
}

/* Index*/
.index-banner {
  position: relative;
  height: 40vh;
  padding-top: 1%;
}
.index-banner-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  margin: 0;
}
.index-banner-text {
  position: absolute;
  inset: 0;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.index-banner-text a {
  text-decoration: none;
  color: white;
  font-size: 6vh;
}
.index-banner-text h1 {
  font-weight: 100;
}
.wrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: 10%;
}
.shop-men,
.shop-women {
  flex: 1;
  width: 50vw;
  height: auto;
  position: relative;
  padding: 1%;
}
.shop-men-image,
.shop-women-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  margin: 0;
}
.shop-men-text,
.shop-women-text {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.shop-men-text a,
.shop-women-text a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 7vh;
}
.index-icon-container {
  padding: 10%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100% 100%;
  justify-items: center;
  align-items: center;
  align-content: center;
}
.index-icon-container {
  font-size: 1.5em;
}
.icon-links {
  display: flex;
  flex-direction: column;
  text-align: center;
  text-decoration: none;
  color: var(--dark-blue);
}
.running-icon i,
.biking-icon i {
  padding-top: 1rem;
}
/*Products*/
.product-banner {
  text-align: center;
  align-items: center;
}
.product-banner-img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
  object-position: 10% 25%;
  margin: 0;
}
.product-banner-text {
  color: white;
  position: absolute;
  inset: 0;
  align-self: center;
  font-size: 4em;
  padding-bottom: 9rem;
}
.product-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  margin-top: 7.5rem;
}

.product {
  display: flex;
  flex-direction: column;
  text-align: center;
  text-decoration: none;
  align-items: center;
  border: 1px;
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: var(--dark-blue);
}
.product-description {
  display: flex;
  font-size: 1em;
  max-width: 15rem;
}
.old-price {
  text-decoration: line-through;
}
.product img {
  height: 7rem;
}
.product a {
  text-decoration: none;
  color: var(--dark-blue);
}
.price-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 15rem;
}
.product:hover {
  border: solid, var(--dark-blue), 0.1em;
}
/*Specific*/
.specific-container {
  margin-top: 10%;
  margin-bottom: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.specific-image {
  width: 50%;
  height: auto;
}
.specific-icon-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
}
.specific-hiking-icon,
.specific-rain-icon,
.specific-wind-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10%;
}
.specific-icon-container i {
  font-size: 36px;
}
.specific-hiking-icon i {
  font-size: 40px;
}
.specific-description {
  font-family: var(--article-font);
  padding: 5%;
}
.specific-cart-button,
.cart-buy-button,
.cart-continue-button {
  font-family: var(--heading-font);
  font-size: 24px;
  color: white;
  background-color: var(--dark-blue);
  border: none;
  width: 8em;
  height: 3em;
  margin-top: 3em;
  margin-bottom: 3em;
}
.specific-cart-button:hover,
.cart-buy-button:active {
  background-color: white;
  color: var(--dark-blue);
  border-color: var(--dark-blue);
  border-style: solid;
  border-width: 5px;
  cursor: pointer;
}
/*Cart*/
.cart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cart-heading {
  font-size: 2em;
  margin-bottom: 1em;
}
.cart-image {
  height: 7rem;
  margin-top: 2rem;
}
.cart-jacket-text {
  font-size: 18px;
}
.cart-total {
  font-size: 22px;
}
.cart-buy-button {
  margin-top: 1em;
}
.cart-buy-button:hover {
  cursor: pointer;
}

.cart-continue-button {
  font-size: 1em;
  color: var(--dark-blue);
  background-color: white;
  height: 2em;
}
/*Checkout*/
.checkout-heading {
  text-align: center;
  font-size: 4em;
}
.checkout-container {
  height: fit-content;
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  background-color: var(--dark-blue);
}
.checkout-forms {
  height: 90%;
  width: 80%;
  margin: 3em;
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.checkout-forms i {
  margin: 1em 1em 0em 0em;
}

.checkout-forms input[type="year"],
.checkout-forms input[type="tel"],
.checkout-forms input[type="email"] {
  margin-top: 1em;
  text-align: center;
}
.checkout-forms input[type="year"],
.checkout-forms input[type="tel"] {
  width: 3em;
}
.purchase-button {
  margin-top: 1rem;
  color: var(--dark-blue);
  background-color: white;
  border: none;
  font-size: 2rem;
  font-family: var(--heading-font);
}
.purchase-button:hover {
  border: solid white 1px;
  color: white;
  background-color: var(--dark-blue);
  cursor: pointer;
}
.purchase-button:active {
  color: white;
  background-color: rgba(10, 54, 65, 1);
}
.summary-container img {
  width: 3rem;
}
.summary-container {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-family: var(--article-font);
  font-size: 0.8em;
}
.checkout-total-text {
  text-decoration: underline;
}
/*Checkout-success*/
.checkout-success-receipt {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  margin-top: 10%;
}
.checkout-success-check-icon {
  margin: 0%;
  font-size: 2em;
}
.checkout-success-receipt img {
  width: 10%;
  height: auto;
  margin: 0%;
}
.checkout-success-receipt p {
  font-family: var(--article-font);
}
.checkout-success-receipt button {
  height: 3em;
  margin: 30% 0% 30% 0%;
  color: white;
  background-color: var(--dark-blue);
  font-family: var(--heading-font);
  font-size: 150%;
  border: none;
}
.checkout-success-receipt button:hover {
  color: var(--dark-blue);
  background-color: white;
  cursor: pointer;
}
/*Contact*/
.contact-heading {
  font-size: 3em;
}
.contact-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.contact-forms {
  margin-top: 1em;
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
input[type="text"] {
  margin: 1em 0em 0em 0em;
  min-width: 15rem;
}
.contact-forms i {
  margin: 0.5em;
}
textarea {
  /*Code borrowed from W3Schools: https://www.w3schools.com/css/tryit.asp?filename=trycss_form_textarea*/
  width: 15rem;
  height: 10rem;
}
.submit-button {
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: var(--dark-blue);
  background-color: white;
  border: solid var(--dark-blue) 0.1em;
  font-size: 2rem;
  font-family: var(--heading-font);
}
.submit-button:hover {
  color: white;
  background-color: var(--dark-blue);
}
.submit-button:active {
  color: var(--dark-blue);
  background-color: white;
}
.contact-border {
  border: solid var(--dark-blue) 3px;
  margin-top: 2rem;
  width: 20rem;
  text-align: center;
}
.contact-info {
  height: fit-content;
  min-width: 20rem;
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}
.contact-info h2,
.contact-location h2 {
  font-size: 1em;
}
.contact-phone,
.contact-fax,
.contact-location {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
  min-width: 13rem;
}
.contact-info i {
  margin-right: 1em;
}
/*About*/
.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
}
.about-container p {
  align-self: flex-start;
  font-family: var(--article-font);
  padding-left: 5%;
  width: 95%;
}
.about-container img {
  width: 95%;
  height: auto;
}
/*Media queries*/
@media (min-width: 481px) and (max-width: 768px) {
  /*All*/
  .navbar a {
    font-size: 130%;
  }
  footer p,
  footer a {
    font-size: 4vh;
  }
  .footer-about,
  .footer-slogan {
    margin-bottom: 15%;
    padding-bottom: 5%;
  }
  /*Index*/
  .index-icon-container i {
    font-size: 4em;
  }
  /*Products*/

  .product-container {
    display: grid;
    grid-template-columns: auto auto;
  }
  /*Specific*/
  .specific-model {
    font-size: 42px;
  }
  .specific-price {
    font-size: 36px;
  }
  .specific-description {
    font-size: 150%;
    padding-left: 8%;
  }
  .specific-hiking-icon,
  .specific-rain-icon,
  .specific-wind-icon {
    margin: 20%;
  }
  .specific-icon-container i {
    font-size: 40px;
  }
  .specific-hiking-icon i {
    font-size: 44px;
  }
  .specific-cart-button {
    font-size: 32px;
    width: 9em;
    height: 3em;
    margin-top: 1em;
    margin-bottom: 2em;
  }
  /*Contact*/
  .contact-border {
    width: 25rem;
  }
  /*About*/
  .about-container h1 {
    font-size: 40px;
  }
}
@media (min-width: 769px) {
  /*All*/
  .navbar a {
    font-size: 180%;
  }
  footer {
    height: 50%;
  }
  .footer-about,
  .footer-slogan {
    margin-bottom: 15%;
    padding-bottom: 5%;
  }
  /*Index*/
  .index-icon-container i {
    font-size: 5em;
  }
  /*Products*/
  .product-banner-text {
    padding-bottom: 8.5rem;
  }
  .product-container {
    display: grid;
    grid-template-columns: auto auto auto;
  }
  .price-container {
    display: flex;
    justify-content: space-evenly;
  }
  /*Specific*/
  .specific-model {
    font-size: 42px;
  }
  .specific-price {
    font-size: 36px;
  }
  .specific-description {
    font-size: 150%;
    padding-left: 8%;
  }
  .specific-hiking-icon,
  .specific-rain-icon,
  .specific-wind-icon {
    margin: 40%;
  }
  .specific-icon-container i {
    font-size: 45px;
  }
  .specific-hiking-icon i {
    font-size: 49px;
  }
  .specific-cart-button {
    font-size: 32px;
    width: 9em;
    height: 3em;
    margin-top: 1em;
    margin-bottom: 2em;
  }
  /*Cart*/
  .cart-heading {
    font-size: 3em;
  }

  /*Contact*/
  .contact-border {
    width: 30rem;
  }
  /*About*/
  .about-container h1 {
    font-size: 40px;
  }
}
@media (min-width: 1280px) {
  /*All*/
  header {
    margin-bottom: 0%;
  }
  .navbar a {
    font-size: 180%;
  }
  footer {
    height: 50%;
  }
  .footer-about,
  .footer-slogan {
    margin-bottom: 15%;
    padding-bottom: 5%;
  }
  main {
    margin-top: 0%;
    padding: 0%;
  }
  /*Index*/
  .index-icon-container i {
    font-size: 5em;
  }
  /*Products*/
  .product-banner {
    padding-top: 0%;
    align-items: center;
  }
  .product-banner-img {
    height: 13rem;
    padding: 0%;
  }

  /*Specific*/
  .specific-model {
    font-size: 42px;
  }
  .specific-price {
    font-size: 36px;
  }
  .specific-description {
    font-size: 150%;
    padding-left: 8%;
  }
  .specific-hiking-icon,
  .specific-rain-icon,
  .specific-wind-icon {
    margin: 40%;
  }
  .specific-icon-container i {
    font-size: 45px;
  }
  .specific-hiking-icon i {
    font-size: 49px;
  }
  .specific-cart-button,
  .cart-buy-button,
  .cart-continue-button {
    font-size: 32px;
    width: 9em;
    height: 3em;
    margin-top: 1em;
    margin-bottom: 2em;
  }
  /*Cart*/
  .cart-heading {
    font-size: 3em;
  }
  .cart-image {
    width: 30%;
    height: auto;
    margin-bottom: 4em;
  }
  .cart-jacket-text {
    font-size: 36px;
  }
  .cart-total {
    font-size: 22px;
  }
  .cart-buy-button {
    margin-top: 3em;
  }
  .cart-continue-button {
    font-size: 14px;
  }
  /*Contact*/

  /*About*/
  .about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: start;
    text-align: left;
  }
  .about-container h1 {
    font-size: 64px;
  }
  .about-text {
    font-size: 2em;
    width: 80%;
    height: fit-content;
    font-family: var(--article-font);
    line-height: 2em;
  }
  .slogan {
    margin-top: 2rem;
    text-align: center;
    font-family: var(--heading-font);
  }
}
